/* Standard convetion to prevent inteference from the default CSS */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

/* Make the navbar display in an orderly line which is centered */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: aliceblue;
}

/* Style the navbar links + animation */
.nav a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: darkred;
  font-size: 2rem;

  transition: all 0.3s ease-in-out;
}

/* Styling on navbar hovering + execute animation */
.nav a:hover {
  background-color: darkred;
  color: aliceblue;

  padding: 0.5rem 2rem;
}

/* Style the background images */
.background-image {
  background-color: aliceblue;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the red sections often found inside the background images */
.background-image .sub-background-image {
  background-color: rgba(139, 0, 0, 0.5);
  color: aliceblue;

  padding: 2rem;

  font-size: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Style these specific elements within the sub background section */
.background-image .sub-background-image label,
input,
h1 {
  margin: 0.5rem;
  font-size: 200%;
  padding: 0.2rem 1rem;
}

/* Center all the inputs on the form page */
.background-image .sub-background-image .fileInput {
  text-align-last: center;
}

/* Give each background image a unique image depending on it's id */
#homePage {
  background-image: url(assets/mountain_view_1.jpg);
}

#kakapoChalet {
  background-image: url(assets/kakapo/cabin_view.jpg);
}

#pukekoChalet {
  background-image: url(assets/pukeko/chalet_view.jpg);
}

#kereruChalet {
  background-image: url(assets/kereru/cabin_exterior.jpg);
}

#formPage {
  background-image: url(assets/maunga_club_cabin.jpg);
}

/* Styling for all the buttons */
.button-class {
  margin: 1.5rem;
  padding: 1.5rem;

  border: 0.2rem solid aliceblue;
  border-radius: 1.5rem;

  color: aliceblue;
  text-decoration: none;

  transition: all 0.3s ease-in-out;

  cursor: pointer;
}

/* Styling for when you hover on the buttons */
.button-class:hover {
  color: black;
  background-color: aliceblue;
}

/* Styling for the sections containing the information on the home and chalet pages */
.informative-section {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10rem 4rem;
}

/* If an element has this class, make it start from the right */
.orientate-right {
  flex-direction: row;
}
/* Otherwise reverse it */
.orientate-left {
  flex-direction: row-reverse;
}

/* Styling for the images which accompany the paragraphs */
.informative-section img {
  width: 50%;
  border-radius: 1rem;
}

.informative-section * {
  margin-inline: 1rem;
}

/* Styling paragraphs for the info sections */
.informative-section section {
  border: solid 0.2rem darkred;
  border-radius: 1.5rem;

  width: 50%;

  text-align: center;
}

/* For the elements within the paragraoh section */
.informative-section section * {
  word-wrap: break-word;
  font-size: 1.5rem;
  margin: 2rem;
  list-style: none;
}

/* The info section heading styling */
.informative-section h1 {
  color: darkred;
  font-size: 3rem;
}

/* Styling for the bottom section above the footer which houses the book now button + gallery */
.book-now-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(assets/mountain_view_dark.jpg);
}

/*  For the elements inside the book now section */
.book-now-section * {
  margin: 2rem;
}

/* for the book now section headers */
.book-now-section h1 {
  color: aliceblue;
  font-size: 3rem;
}

/* Like the orientate-right class but for the gallery */
.gallery-orientate-right {
  right: 5rem;
}

.gallery-orientate-left {
  left: 5rem;
}

/* For the whole gallery */
.gallery-whole {
  position: relative;

  display: flex;
  align-items: center;
}

.gallery-bg-img {
  width: 100%;
}

/* These are the backgrounds for the images in the gallery */
.gallery-article {
  color: aliceblue;

  padding: 2rem;

  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(139, 0, 0, 0.5);
}

/* Each gallery image styling */
.gallery-article a {
  font-size: 0px;

  border: inset aliceblue 0.5rem;

  margin: 1rem 0rem;
}

/* The footer styling */
footer {
  text-align: center;
  color: darkred;

  padding: 5rem;

  background-color: aliceblue;
}