body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
}

.nav a {
    text-decoration: none;
    padding: 0.5rem 2rem;
    color: darkred;
    font-size: 2rem;
}

.nav a:hover {
    background-color: darkred;
    color: aliceblue;

    padding: 0.5rem 2.5rem;
}

.background-image {
    background-color: aliceblue;
    background-image: url(../assets/mountain_view_1.jpg);

    padding: 18rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image h1 {
    background-color: rgba(139,0,0,.5);
    color: aliceblue;

    padding: 2rem;

    font-size: 3rem;

    text-align: center;
}
