body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: aliceblue;
}

.nav a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: darkred;
  font-size: 2rem;

  transition: all 0.3s ease-in-out;
}

.nav a:hover {
  background-color: darkred;
  color: aliceblue;

  padding: 0.5rem 2rem;
}

.background-image {
  background-color: aliceblue;
  background-image: url(../assets/mountain_view_1.jpg);
  background-repeat: no-repeat;

  padding: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image .sub-background-image {
  background-color: rgba(139, 0, 0, 0.5);
  color: aliceblue;

  padding: 2rem;

  font-size: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-image .sub-background-image .book-now-button {
  margin: 1.5rem;
  padding: 1.5rem;

  border: 0.2rem solid aliceblue;
  border-radius: 1.5rem;

  color: aliceblue;
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

.background-image .sub-background-image .book-now-button:hover {
  color: darkred;
  background-color: aliceblue;
}

.informative-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 10rem 4rem;
}

.informative-section img {
  width: 50%;
}

.informative-section * {
  margin-inline: 1rem;
}

.informative-section article {
  border: solid 0.2rem darkred;
  border-radius: 1.5rem;

  width: 50%;

  text-align: center;
}

.informative-section article * {
  word-wrap: break-word;
  font-size: 1.5rem;
  margin: 1rem;
}

.informative-section h1 {
  color: darkred;
  font-size: 3rem;
}

footer {
  text-align: center;
  color: darkred;

  padding: 5rem;

  background-color: aliceblue;
}